body {
  font-family: arial;
}

button {
  padding:10px;
  background-color:#49e6de;
  color: black;
  border: 1px;
  cursor:pointer;
  border-radius: 5px;
      }

h1 {
  font-weight: bold;
  color: #49e6de;
  font-size: 30px;
}


h2 {
  font-weight: bold;
  color: #49e6de;
  font-size: 20px;
}

h3 {
  font-weight: bold;
  color: #49e6de;
  font-size: 18px;
}

*{
  box-sizing: border-box;
}

label{
  font-weight: bold;
  color: #49e6de;
  font-size: 18px;
}

.column {
  float: left;
  width: 200px;
  padding: 10px;
  height: 180px; 
  background-color: black;
  border: 5px outset #49e6de;
  font-weight: bold;
  color: #49e6de;
  font-size: 18px;
}

.column2 {
  float: left;
  width: 320px;
  padding: 5px;
  height: 70px; 
  background-color: black;
  border: 5px outset #49e6de;
  font-weight: bold;
  color: #49e6de;
  font-size: 18px;
}


.title{
  padding: 10px;
  width: 400px;
  height: 80px; 
  background-color: black;
  border: 5px outset #49e6de;
}

.title2{
  padding: 5px;
  width: 640px;
  height: 70px; 
  background-color:black;
  border: 5px outset #49e6de;
}

.Story {
  padding: 10px;
  width: 400px;
  height: 200px; 
  background-color:black;
  border: 5px outset #49e6de;
  font-weight: bold;
  color: #49e6de;
  font-size: 18px;
}

.Story2 {
  padding: 5px;
  width: 640px;
  height: 160px; 
  background-color:black;
  border: 5px outset #49e6de;
  font-weight: bold;
  color: #49e6de;
  font-size: 18px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sr-only{
   position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
}